<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Brand</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="static/assets/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">&nbsp;McMaster Statistics for Dementia</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto"></ul>
        </div>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Member Login</h2>
                    <p>Relabling clock images (This is a hidden page)</p>
                </div>
                <form action="/login" method="POST">
                    <div class="form-group"><label>Username</label><input class="form-control" type="username" name="username"></div>
                    <div class="form-group"><label>Password</label><input class="form-control" type="password" name="password"></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Login</button></div>
                    <div class="form-group"><a class="btn btn-primary btn-block" role="button" href={{ url_for('do_user_signup') }} id="SignUp">Sign Up</a></div>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2018 McMaster University</p>
        </div>  
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>
